<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<p>a: <input type="number" ng-model="a"></p>
<p>b: <input type="number" ng-model="b"></p>
<button ng-click="verifica()">afiseaza produsul</button>
<p>{{ rez }}</p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.verifica = function() {
    if (($scope.a % $scope.b) == 0) {
    		$scope.rez = $scope.a + " se imparte la " + $scope.b + " fara rest"
        } else {
        	$scope.rez = $scope.a + " nu se imparte la " + $scope.b + " fara rest"
        }
    }
    
});
</script> 

</body>
</html>
